@using CTMS.DataModel.Models.Systems
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@inject NavigationManager NavigationManager
@inject PatientService PatientService
@inject DropDownListDataService DropDownListDataService
@inject BloodExameService BloodExameService
@inject RandomListService RandomListService
@inject ZipToolService ZipToolService
@inject IJSRuntime JS
@inject RegisterModelService RegisterModelService
@inject PatientService PatientService
@inject MyUserService MyUserService
@inject RoleViewService RoleViewService

<div>
    <div>
        <Button Type="AntDesign.ButtonType.Primary" OnClick="async () =>await OnFix成大抽血生化eGFR參考區間()">2026/03/26 修正成大的 eGFR參考區間是>=60</Button>
    </div>
    <div class="mt-2">
        <Button Type="AntDesign.ButtonType.Primary" OnClick="async () => await OnFillBloodTestUnits()">補齊既有抽血血液/生化單位</Button>
    </div>
</div>
<DialogBackground />

@code {
}
