.container-custom {
    background-color: #fff;
    padding: 20px;
}

.header {
    background-color: #e0e0e0;
    text-align: left;
    padding: 10px;
    margin-bottom:20px;
}

    .header h1 {
        margin: 0;
        font-size: 24px;
    }

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 24px;
}

thead {
    background: #6e70fa;
    color:white;
}

th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background: #f9f9f9;
}
tbody tr:hover {
    background: lightgoldenrodyellow;
}

.title-width {
    width: 500px;
}

.reference-width {
    width: 280px;
}

tr {
    height: 60px;
}
.blood-black {
    color: black;
}

.blood-red {
    color: red;
}
