@using Newtonsoft.Json
@layout EmptyLayout
@inject UploadFileService UploadFileService

<div>
    <div class="diagram-container">
        <img src="/Images/description.png" />
    </div>

    <div class="muscle-grid">
        <div class="muscle-card">
            <div class="muscle-title">
                竪背多脊筋<br>
                <span class="muscle-name">(PSM)</span>
            </div>
            <div class="muscle-content">
                伸展（雙側）<br>
                轉動（單側）<br>
                穩定下背（雙側）
            </div>
        </div>

        <div class="muscle-card">
            <div class="muscle-title">
                腰方肌<br>
                <span class="muscle-name">(QLM)</span>
            </div>
            <div class="muscle-content">
                側彎（單側）<br>
                穩定下背（雙側）
            </div>
        </div>

        <div class="muscle-card">
            <div class="muscle-title">
                内外斜＆腹横<br>
                <span class="muscle-name">(LWM)</span>
            </div>
            <div class="muscle-content">
                旋轉(同側内斜胴横<br>
                ＋對側外斜)<br>
                側彎(同側内外斜)<br>
                前彎(内外斜)<br>
                穩定(腹横)
            </div>
        </div>

        <div class="muscle-card">
            <div class="muscle-title">
                腰肌<br>
                <span class="muscle-name">(PM)</span>
            </div>
            <div class="muscle-content">
                髖關節彎曲/抬腿<br>
                髖關節轉動<br>
                深層核心穩定
            </div>
        </div>

        <div class="muscle-card">
            <div class="muscle-title">
                腹直肌<br>
                <span class="muscle-name">(RM)</span>
            </div>
            <div class="muscle-content">
                前彎<br>
                姿勢穩定<br>
                提供腹腔壓力
            </div>
        </div>
    </div>
</div>
@code {
    protected override async Task OnInitializedAsync()
    {
    }

    protected override void OnAfterRender(bool firstRender)
    {
    }
}