.container-custom {
    background-color: #fff;
    padding: 20px;
}

.header {
    background-color: #e0e0e0;
    text-align: left;
    padding: 10px;
}

    .header h1 {
        margin: 0;
        font-size: 24px;
    }

.metrics {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.metric-box {
    flex: 1;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 0 10px;
}

.metric-title {
    font-size: 32px;
    margin-bottom: 10px;
}

.metric-title-hidden {
    font-size: 32px;
    margin-bottom: 10px;
    visibility: hidden;
    color: transparent;
}

.metric-value {
    font-size: 60px;
}

.dark-blue {
    background-color: #074737;
    color: #ffc107;
}

.pink {
    background-color: #f8b4b4;
    color: #ff5c5c;
}

.recommendations {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.recommendation-box {
    flex: 1;
    text-align: center;
    background-color: #a4d85c;
    padding: 20px;
    border-radius: 10px;
    margin: 0 10px;
}

.recommend-title {
    font-size: 36px;
    margin-bottom: 10px;
    color: #2e7d32;
}

.recommend-text {
    font-size: 48px;
    color: #2e7d32;
}

.radar-chart {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
