.container-custom {
    background-color: #fff;
    padding: 20px;
}

.header {
    background-color: #e0e0e0;
    text-align: left;
    padding: 10px;
    margin-bottom: 20px;
}

    .header h1 {
        margin: 0;
        font-size: 24px;
    }

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 32px;
}

thead {
    background: #4472c4;
    color: white;
}

th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid white;
}

tbody tr:nth-child(even) {
    background: #cfd5ea;
}

tbody tr:hover {
    background: lightgoldenrodyellow;
}
table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
}
.title-width {
    width: 34%;
}

.title-data-width {
    width: 22%;
}

.data-cell {
    text-align: center;
    font-size: 48px;
}
.data-cell-title {
    text-align: center;
}
.cell-label {
    background: white;
    color: black;
    font-size: 48px;
}

.reference-width {
    width: 280px;
}

tr {
    height: 60px;
}

.blood-black {
    color: black;
}

.blood-red {
    color: red;
}

/*.cell-100-80 {
    background: #E74C3C;
    color: white;
}

.cell-80-60 {
    background: #E67E22;
    color: white;
}

.cell-60-40 {
    background: #F1C40F;
    color: black;
}

.cell-40-20 {
    background: #27AE60;
    color: white;
}

.cell-20-0 {
    background: #3498DB;
    color: white;
}
*/

.cell-100-80 {
    background: #b80404;
    color: white;
}

.cell-80-60 {
    background: #FF8000;
    color: white;
}

.cell-60-40 {
    background: #dbdb02;
    color: black;
}

.cell-40-20 {
    background: #008000;
    color: white;
}

.cell-20-0 {
    background: #0000FF;
    color: white;
}


/*.cell-100-80 {
    background: #F28E8E;
    color: black;
}

.cell-80-60 {
    background: #F5B971;
    color: black;
}

.cell-60-40 {
    background: #F7E287;
    color: black;
}

.cell-40-20 {
    background: #A7D397;
    color: black;
}

.cell-20-0 {
    background: #92C7CF;
    color: black;
}
*/

.color-list-table {
    margin-top: 80px;
    font-size: 68px;
}

.color-cell {
    text-align: center;
    font-size: 48px;
    width: 20%;
}
.cell-90-100 {
    background-color: #E6453C; /* 深紅色 */
    color: #333;
}

.cell-80-90 {
    background-color: #F75A4A; /* 明顯紅色 */
    color: #333;
}

.cell-70-80 {
    background-color: #FF7F33; /* 深橘紅色 */
    color: #333;
}

.cell-60-70 {
    background-color: #FF7F33; /* 深橘色 */
    color: #333;
}

.cell-50-60 {
    background-color: #FF9A4D; /* 鮮亮橘色 */
    color: #333;
}

.cell-40-50 {
    background-color: #FFBB66; /* 明顯橘色 */
    color: #333;
}

.cell-30-40 {
    background-color: #FFD18A; /* 柔和黃橘 */
    color: #333;
}

.cell-20-30 {
    background-color: #DFF5E1; /* 淡綠 */
    color: #333;
}

.cell-10-20 {
    background-color: #C7EFCF; /* 青綠 */
    color: #333;
}
.cell-00-10 {
    background-color: #A4D8A5; /* 中綠 */
    color: #333;
}


