.container-custom {
    background-color: #fff;
    padding: 20px;
    margin-top:20px;
}

.header {
    background-color: #e0e0e0;
    text-align: left;
    padding: 10px;
}

    .header h1 {
        margin: 0;
        font-size: 24px;
    }

.container-data {
    padding: 20px;
    background-color: #fff;
    margin:auto;
    display: flex;
}

.left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

    .left-panel div {
        text-align: center;
        padding: 10px;
        background-color: #3b622c;
        color: #d4f942;
        border-radius: 8px;
    }

.right-panel {
    flex: 3;
    margin-left: 20px;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.metric-box {
    flex: 1;
    background-color: #074737;
    color: #ebeaf1;
    text-align: center;
    border-radius: 8px;
    margin: 0 10px;
}

.metric-title {
    font-size: 36px;
    margin-bottom: 10px;
}

.metric-value {
    font-size: 60px;
    margin-bottom: 20px;
}



