.page-background {
    background-color: #E6F0FF;
}

.header {
    background-color: #a8c8ec;
    padding: 15px;
    border-radius: 8px;
    /*    margin-bottom: 20px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .header h1 {
        margin: 0;
        font-size: 32px;
        color: #333;
    }

    .header .code {
        font-size: 14px;
        color: #666;
    }

.buttons {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.btn-add {
    background-color: #90EE90;
}

.btn-edit {
    background-color: #FFD700;
}

.btn-delete {
    background-color: #FFB6C1;
}

.edit-icon {
    font-size: 14px;
    margin-left: 10px;
    color: #3776ab; /* 改為藍色，與標題顏色一致 */
}

.visit-code {
    padding: 8px 15px;
    border: 2px solid #333;
    border-radius: 4px;
    display: inline-block;
    margin-left: 10px;
    background-color: white;
}

.visit-code-container {
    margin: 6px 0;
    font-size: 24px;
}

.visit-info {
    white-space: nowrap;
    margin: 6px 0;
    font-size: 24px;
}


.signature {
    font-size: 20px;
    color: #555;
    font-size: 24px;
}


.risk-assessment-container {
    font-family: "微軟正黑體", "Microsoft JhengHei", sans-serif;
    width: 100%;
}

.back-button a {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1px;
    padding: 10px;
    background-color: #E6F0FF;
}

.top-panel {
    display: flex ;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.t-left-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.t-right-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-panel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}

.research-group-panel, .ai-result-panel, .details-panel {
/*    margin-bottom: 20px;*/
    border-radius: 4px;
    overflow: hidden;
}

.research-group-panel {
    background-color: #fefae0;
    height: 80%;
}

.ai-result-panel {
    background-color: #ffedee;
    height: 80%;
}
.ai-result-table {
    font-size: 24px;
}
.details-table {
    font-size: 22px;
}
.details-panel {
    background-color: #e0f3e0;
}
.sign-confirm-panel {
    background-color: #bfd9ff;
    width: 35%;
    border: 3px solid #a0c2f5;
    border-radius: 5px;
}
.doctor-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.confirm-btn {
    background-color: #bfd9ff;
    border-radius: 5px;
    width: 180px;
}

.panel-header {
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
}

.panel-content {
    font-size: 26px;
    padding: 20px;
    text-align: center;
}

.sign-panel-content {
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    padding: 20px;
    text-align: center;
    background-color: white;
}

.r-doctor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.o-doctor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlight {
    color: #d00;
    font-weight: bold;
}

.no-need {
    margin-top: 10px;
}

.no-need strong {
    color: #d00;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.scan-images {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
}

.scan-image {
    border-radius: 5px;
}

@media (max-width: 992px) {
    .content-wrapper {
        flex-direction: column;
    }
    
    .left-panel, .center-panel, .right-panel {
        flex: 0 0 100%;
        margin-bottom: 15px;
    }
}