@page "/Sample"
@layout EmptyLayout

<div class="sample-table-container">
    <table class="sample-table">
        <thead>
            <tr>
                <th class="header-item">檢驗項目</th>
                <th class="header-reference">參考區間</th>
                <th class="header-result">檢驗數據</th>
                <th class="header-sampling">Sampling</th>
            </tr>
        </thead>
        <tbody>
            <tr class="row-normal">
                <td class="item-cell">白血球計數 WBC(10^3/μL)</td>
                <td class="reference-cell">3.4-9.5</td>
                <td class="result-cell"></td>
                <td class="sampling-cell"></td>
            </tr>
            <tr class="row-highlighted">
                <td class="item-cell">紅血球計數 RBC(10^6/μL)</td>
                <td class="reference-cell">4.26-5.78</td>
                <td class="result-cell"></td>
                <td class="sampling-cell"></td>
            </tr>
            <tr class="row-normal">
                <td class="item-cell">血色素 Hb(g/dL)</td>
                <td class="reference-cell">13.3-17.2</td>
                <td class="result-cell"></td>
                <td class="sampling-cell"></td>
            </tr>
            <tr class="row-highlighted">
                <td class="item-cell">血比容 Hct (%)</td>
                <td class="reference-cell">39.1-50.2</td>
                <td class="result-cell"></td>
                <td class="sampling-cell"></td>
            </tr>
            <tr class="row-normal">
                <td class="item-cell">平均紅血球容積 MCV (fL)</td>
                <td class="reference-cell">81.9-98.4</td>
                <td class="result-cell"></td>
                <td class="sampling-cell"></td>
            </tr>
            <tr class="row-highlighted">
                <td class="item-cell">紅血球血紅素MCH (pg)</td>
                <td class="reference-cell">27.5-33.7</td>
                <td class="result-cell"></td>
                <td class="sampling-cell"></td>
            </tr>
            <tr class="row-normal">
                <td class="item-cell">平均紅血球血紅素濃度 MCHC(g/dL)</td>
                <td class="reference-cell">32.8-35.4</td>
                <td class="result-cell"></td>
                <td class="sampling-cell"></td>
            </tr>
        </tbody>
    </table>
</div>

@code {

}