@page "/Sample"
@layout EmptyLayout

<div class="clinical-table-container">
    <table class="medical-table">
        <tbody>
            <tr>
                <td class="category-cell"><span class="bracket-text">Subject NO.</span></td>
                <td class="category-cell"><span class="bracket-text">手術日期</span></td>
                <td class="category-cell"><span class="bracket-text">術式</span></td>
                <td class="category-cell"><span class="bracket-text">OP outcome</span></td>
            </tr>
            <tr>
                <td class="subject-cell">NCKUH-E001</td>
                <td class="date-cell">0001-01-01</td>
                <td class="procedure-cell"></td>
                <td class="outcome-cell"></td>
            </tr>
            <tr>
                <td class="category-cell"><span class="bracket-text">【Ascites】</span></td>
                <td class="category-cell"><span class="bracket-text">【Uterus】</span></td>
                <td class="category-cell"><span class="bracket-text">【Cervix】</span></td>
                <td class="category-cell"><span class="bracket-text">【Endometrium】</span></td>
            </tr>
            <tr>
                <td class="normal-cell">No</td>
                <td class="normal-cell">normal</td>
                <td class="normal-cell">normal</td>
                <td class="normal-cell">normal</td>
            </tr>
            <tr>
                <td class="category-cell"><span class="bracket-text">【Myometrium】</span></td>
                <td class="category-cell"><span class="bracket-text">【Cul de sac】</span></td>
                <td class="category-cell">Ovarian surface rupture or not</td>
                <td class="category-cell">Ovarian surface rupture or not</td>
            </tr>
            <tr>
                <td class="normal-cell">normal</td>
                <td class="normal-cell">normal</td>
                <td class="normal-cell">normal</td>
                <td class="normal-cell">normal</td>
            </tr>
            <tr>
                <td class="category-cell"><span class="bracket-text">【Left adnexa】</span></td>
                <td class="category-cell"><span class="bracket-text">【Right adnexa】</span></td>
                <td class="category-cell">Pelvic peritoneal cavity</td>
                <td class="category-cell">Extrapelvic peritoneal cavity</td>
            </tr>
            <tr>
                <td class="normal-cell">normal</td>
                <td class="normal-cell">normal</td>
                <td class="normal-cell">normal</td>
                <td class="normal-cell">normal</td>
            </tr>
        </tbody>
    </table>
</div>

@code {

}