@page "/Sample"
@layout EmptyLayout

<div class="regimen-table-container">
    <table class="regimen-table">
        <thead>
            <tr>
                <th>Subject NO.</th>
                <th>BSA</th>
                <th>Regimen<br />Paclitaxel 175 mg/m2</th>
                <th>Regimen<br />Carboplatin AUC 5</th>
                <th>Reduction</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <button class="delete-button">
                        <i class="oi oi-trash"></i>
                    </button>
                    <span class="subject-no">001</span>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <button class="delete-button">
                        <i class="oi oi-trash"></i>
                    </button>
                    <span class="subject-no">002</span>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <button class="delete-button">
                        <i class="oi oi-trash"></i>
                    </button>
                    <span class="subject-no">003</span>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <button class="delete-button">
                        <i class="oi oi-trash"></i>
                    </button>
                    <span class="subject-no">004</span>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

@code {

}