@page "/Cardio/{code}"
@layout EmptyLayout
@inject NavigationManager NavigationManager
@inject UploadFileService UploadFileService

<div>
    <CardiopulmonaryView Code="@Code" />
</div>

@code {
    [Parameter]
    public string Code { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine($"Code: {Code}");
    }
    void OnBack()
    {
        NavigationManager.NavigateTo($"/DashboardHome/{Code}");
    }

}
