@page "/PdfSummaryPage/{code}"
@using Newtonsoft.Json
@using CTMS.Share.Helpers
@layout EmptyLayout
@inject UploadFileService UploadFileService
@inject NavigationManager NavigationManager
@inject ExcleService ExcleService

<PageTitle>報告摘要</PageTitle>

<div>
    <div class="p-5">
        <PdfSummaryView Code="Code" CTMSModel="CTMSModel" />
    </div>
</div>


@code {
    [Parameter]
    public string Code { get; set; }

    NextGenerationSportsCTMSModel CTMSModel = new();
    HomePageModel HomePageModel = new();
    string imagefile = "";

    protected override async Task OnInitializedAsync()
    {
        var Athlete = await UploadFileService.GetAsync(Code);
        CTMSModel = JsonConvert
        .DeserializeObject<NextGenerationSportsCTMSModel>(Athlete.ExcelData);

        var fileList = JsonConvert
        .DeserializeObject<List<FileListNodeModel>>(Athlete.FilesData);
        imagefile = FileListHelper.GetPhoto(fileList);
        // imagefile = Path.Combine(Directory.GetCurrentDirectory(), imagefile);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            HomePageModel = CTMSModel.Home首頁2;
            StateHasChanged();
        }
    }

    async Task OnSave()
    {
        var json = JsonConvert.SerializeObject(CTMSModel);
        var Athlete = await UploadFileService.GetAsync(Code);
        Athlete.ExcelData = json;

        await UploadFileService.UpdateAsync(Code, Athlete);
        NavigationManager.NavigateTo($"/DashboardHome/{Code}");
    }

    void OnBack()
    {
        NavigationManager.NavigateTo("/");
    }

    void OnBody()
    {
        NavigationManager.NavigateTo($"/Body/{Code}");
    }

    void OnMetabolite()
    {
        NavigationManager.NavigateTo($"/Metabolite/{Code}");
    }

    void OnMentalToughness()
    {
        NavigationManager.NavigateTo($"/MentalToughness/{Code}");
    }

    void OnGenomics()
    {
        NavigationManager.NavigateTo($"/Genomics/{Code}");
    }

    void OnCardiopulmonary()
    {
        NavigationManager.NavigateTo($"/Cardiopulmonary/{Code}");
    }

    void OnMotionAnalysis()
    {
        NavigationManager.NavigateTo($"/MotionAnalysis/{Code}");
    }

    void OnRecommendation()
    {
        NavigationManager.NavigateTo($"/Recommendation/{Code}");
    }

    void OnBlood()
    {
        NavigationManager.NavigateTo($"/Blood/{Code}");
    }
}