.page-top {
    background-color: black;
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the title */
    padding: 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.back-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: auto; /* Push the button to the left */
    font-size: 14px;
    position: absolute;
    left: 15px;
}

.right-btn {
    background-color: black;
    color: white;
    position: absolute;
    right: 25px; /* Push button to the far right */
}

.back-btn:hover {
    background-color: #555;
}

.page-title {
    font-size: 16px;
    text-align: center; /* Center the text inside its container */
}

.header {
    background-color: #e0e0e0;
    text-align: left;
}

.browse-list {
    margin-top: 30px; /* Ensures it starts below the fixed header */
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

    table th, table td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

th {
    background-color: #f2f2f2;
}

/* Command area column */
.command-area {
    width: 250px; /* Fixed width for command buttons */
}

.name-area {
    width: auto; /* This column takes the remaining width */
    cursor: pointer;
}

button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
}

.need-clicked {
    cursor: pointer;
}

.btn-show {
    background-color: #4CAF50;
    color: white;
}

.btn-delete {
    background-color: #f44336;
    color: white;
}

.btn-gpt {
    background-color: #348ceb;
    color: white;
}

button:hover {
    opacity: 0.8;
}

.title-hidden {
    font-size: 24px;
    margin-bottom: 10px;
    visibility: hidden;
    color: transparent;
}

.card-bg-color1 {
    background-color: #ffe598;
    border: 4px solid #d5ad35; /* Set border thickness and color */
}
.card-bg-color2 {
    background-color: #89b1a6;
    border: 4px solid #124033; /* Set border thickness and color */
}
.view-button {
    background-color: #d5d5d5;
    border: 3px solid #838386; /* Set border thickness and color */
    color: black;
    font-size: 24px;
    font-weight: bold;
}
.card-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
.horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: absolute;
    right: 15px; /* Push button to the far right */
}
.upload-btn {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}


    .upload-btn:hover {
        background-color: #555;
    }
