.subject-number {
/*    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    position: relative;
*/}

.subject-number-title {
    font-size: 16px;
    margin: 0;
}

.hospital-title h2 {
    font-size: 16px;
    color: #666;
    margin: 0;
}
